@font-face {
    font-family: easMain;
    src: url("/font/zai_PencilTypewriter.ttf");
}
h1{
    font-family: 'easMain', sans-serif;
}
// html, body{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "easMain", sans-serif;
// }

.mainArea{
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    
}

.frame{
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: red;
    box-shadow: 5px 5px 0 darkred;
    border-radius: 40px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    //position: absolute;
    width: 500px;
    height: 500px;
    background-color: red;
    display: grid;
    gap: 1px;
    // .cell{
    //     //flex: 1;
    //     background-color: lime;
    //     //border-top: 1px solid black;
    //     //border-left: 1px solid black;
    //     //z-index: 100;
    // }
}

.footer{
    //margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

input{
    width: 130px;
}

button{
    width: 150px;
    height: 40px;
    background-color: #2a7fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    &:active{
        scale: .97;
    }
}